<p><%= @resource.email %> さん</p>

<p>これはパスワードリセット用のメールです。以下のリンクをクリックしてパスワードをリセットしてください。</p>

<a href="<%="https://cafecoder.top/auth/reset-password?token=#{@token}"%>">
  <%= "https://cafecoder.top/auth/reset-password?token=#{@token}"%>
</a>

<p>このメールに心当たりがない場合は、このメールを破棄してください。</p>
<p>パスワードの再設定は、新しいパスワードを登録するまで完了しません。</p>
<p>このメールは自動配信です。なにか問題がある場合にはこのメールに返信するか、Twitter <a href="https://cafecoder.top/CafeCoder_">@CafeCoder_</a> まで連絡してください。</p>
